---
---

@import "{{ site.theme }}";

body {
  //background-color: #f9fffa; //1
  //background-color: #e6f2ff; //2
  //background-color: #f9ffe6; //3
  //background-color: #e6f7ff; //4
  //background-color: #e6f7ff; //5
  //background-color: #f9fffa; //6
  background-color: #fcfffa;
  color: #525252;
}

a {
  //color: #739900; //1
  //color: #3399ff; //2
  //color: #739900; //3
  //color: #739900; //4
  //color: #00aaff; //5
  color: #0099e6; //6
}

a:hover, a:focus {
  color: #739900;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.green {
  color: #739900;
}

img.menu {
  margin: 0 0 5px;
  width: 40px;
}

.btn {
  display: inline-block;
  padding: 0px 4px;
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 2px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #739900;
  color: #739900;
}

.btn:hover,
{
  border-color: #0099e6; //6
  color: #0099e6; //6
}

 pre,
 code {
   margin: 0;
   padding: 0;
   font-family: 'Consolas', 'Monaco', 'Courier New', Courier, monospace;
   font-size: 12px;
   color: #000000;
   /* Adjust the font size as needed */
   line-height: 1.8;
   /* white-space: pre-wrap; */
   /* Ensures that the code doesn't overflow */
   word-break: normal;
   /* Keeps the words from breaking */
   word-wrap: normal;
   /* Allows long lines to be broken */
 }

 /* Style for 'pre' tag to define the appearance of code blocks */
 pre {
   /* background-color: #fffb00; */
   /* Light grey background */
   border: 1px solid #9a9a9a;
   /* Light grey border */
   border-left: 4px solid #f47d20;
   /* Accent color on the left border */
   /* padding: 1em; */
   /* Padding inside the code block */
   overflow-x: auto;
   /* Adds horizontal scrolling if code overflows */
   max-width: 100%;
   /* Ensures the block does not exceed its container */
   box-sizing: border-box;
   /* Includes padding and border in the width */
 }

 /* Style for 'code' tag when used inline with text */
 code {
   background-color: #efefef;
   /* Slightly darker background for inline code */
   padding: 0.2em 0.4em;
   /* Padding inside inline code */
   border-radius: 3px;
   /* Rounded corners for inline code */
   border: 0px solid #000000;
   /* Border for inline code */
 }

 pre>code {
   display: block;
   white-space: pre;
   /* Ensures whitespace is preserved */
   overflow-x: auto;
   /* Adds horizontal scrollbar if needed */
   padding: 1em;
   /* Adds padding inside the block */
   background-color: #efefef;
   /* Light gray background */
   border: 0px solid #ccc;
   /* Light gray border */
   font-size: 1em;
   /* Matches the size of regular text */
   /* Additional styles for block code */
 }

li {
   list-style-type: square;
}

li ul li {
   list-style-type: circle;
}

p.awards {
  margin-bottom: 10px;
}

span.awards {
  color: #739900;
}

.tryonline {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-tryonline {
  padding: 5px;
  background-color: #e98301; // orange
  color: #efefef;
  text-decoration:none;
}

a.btn-tryonline:hover {
  padding: 5px;
  background-color: #fcfffa;
  border: 1px solid #e98301;
  color: #e98301;
  text-decoration:none;
}
