---
---

@import "{{ site.theme }}";

body {
  //background-color: #f9fffa; //1
  //background-color: #e6f2ff; //2
  //background-color: #f9ffe6; //3
  //background-color: #e6f7ff; //4
  //background-color: #e6f7ff; //5
  //background-color: #f9fffa; //6
  background-color: #fcfffa;
  color: #525252;
}

a {
  //color: #739900; //1
  //color: #3399ff; //2
  //color: #739900; //3
  //color: #739900; //4
  //color: #00aaff; //5
  color: #0099e6; //6
}

a:hover, a:focus {
  color: #739900;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.green {
  color: #739900;
}

img.menu {
  margin: 0 0 5px;
  width: 40px;
}

.btn {
  display: inline-block;
  padding: 0px 4px;
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 2px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #739900;
  color: #739900;
}

.btn:hover,
{
  border-color: #0099e6; //6
  color: #0099e6; //6
}

code, pre {
  color: #eeeeee;
  background: #111;
  border:2px solid #e5e5e5;
  border-radius:5px;
  padding: 5px 3px 3px;
}

li {
   list-style-type: square;
}

li ul li {
   list-style-type: circle;
}

ul.awards li {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}

ul.awards li::before {
  font-family: FontAwesome;
  content: "\f091";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 1.2em;
  font-weight: 900;
  width: 1.5em;
}

ul.awards li ul li::before {
  content: "";
  width: 0em;
}

ul.awards li ul {
   margin-top: 10px;
}

ul.awards li ul li {
   list-style-type: square;
}

ul.awards li ul li ul {
  margin: 0;
}

ul.awards li ul li ul li {
   list-style-type: circle;
}

span.awards {
  color: #739900;
}

.tryonline {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-tryonline {
  padding: 5px;
  background-color: #e98301; // orange
  color: #efefef;
  text-decoration:none;
}

a.btn-tryonline:hover {
  padding: 5px;
  background-color: #fcfffa;
  border: 1px solid #e98301;
  color: #e98301;
  text-decoration:none;
}
